<div class="grid-container">
<mat-card class="dashboard-card">
    <mat-toolbar color='basic'>My Attendance</mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Day Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Subject </th>
          <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>
      
        <!-- Period 1 Column -->
        <ng-container matColumnDef="attendance">
          <th mat-header-cell *matHeaderCellDef> Attendance (%)</th>
          <td mat-cell *matCellDef="let element"> {{element.attendance}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
</div>    